
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../../imagenes/fondoContra.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


form {
    position: absolute;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background: rgba(0, 0, 0, .3);
    font-family: cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


input {
    display: block;
    padding: 10px;
    width: 95%;
    font-size: 20px;
    background-color: #EFEFEF;
    border-radius: 1rem;
}

input[type="submit"]{
    background: linear-gradient(#FFDA63, #FFB940);
    border: 0;
    color: brown;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}

input[type="submit"]:hover{
    opacity: 1;
}

input[type="submit"]:active{
    transform: scale(0.95);
}

header{
    width: 100%;
    background: rgba(0, 0, 0, .3);
}

form .contrasenia {
    text-align: center;
    color: #EDA135;

}



#btn_menu {
    display: none;
}

header .menuIm{
   width:30px; 
   height:30px;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right:1px solid #fff ;
}

header label:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
   
}

.menu li:hover{
   background: rgba(179, 105, 35, 0.705);
}

.menu li a {
   display: block;
   padding: 15px 20px;
   color: #fff;
   text-decoration: none;
}
footer{
    clear: both;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
}